<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=P\rojectRCon\figu\raciones de ejecuciónrCon\figu\ración 1"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="Project"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="Configuración 1"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Project"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>